PORT=3001
NODE_ENV=development
SECRET_KEY=secretkey
DATABASE_URL="postgresql://postgres:<password>@localhost:5432/<db_name>?schema=public"
ACCESS_TOKEN_TTL="24h"
RESET_TOKEN_TTL="15m"
EMAIL_USER="johan@example.com"
EMAIL_PASS="example_password"